// Base Colors

$base-black: #000000;
$base-white: #ffffff;
$base-grey: #e0ecff;
$base-grey-additional: #707070;
$text-default-medium: rgba(224, 236, 255, 0.8);
$text-default-disabled: rgba(195, 208, 229, 0.5);

// Accent
$accent-primary-default: #2672ed;
$accent-primary-light: #66a1ff;
$text-accent-medium: rgba(255, 255, 255, 0.72);
$loader-back: rgba(0, 0, 0, 0.5);

// Alert Colors

$alert-error: #cc525f;
