<div class="car-info">
  <div class="car-info__item model-color">
    <p class="item__text name">Model:</p>
    <p class="item__text value">{{ carInfo.car }}</p>
  </div>

  <div class="car-info__item primary-additional-color">
    <p class="item__text name">Modification:</p>
    <p class="item__text value">{{ carInfo.engine }}</p>
  </div>

  <div class="car-info__item secondary-additional-color">
    <p class="item__text name">Start Date:</p>
    <p class="item__text value">{{ carInfo.startDateAt }}</p>
  </div>

  <div class="car-info__item primary-additional-color">
    <p class="item__text name">Capacity:</p>
    <p class="item__text value">{{ carInfo.capacity }}</p>
  </div>
</div>
