<svg class="loader" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
  <circle
    cx="50"
    cy="50"
    r="28"
    stroke-width="8"
    stroke="#143466"
    stroke-dasharray="43.982297150257104 43.982297150257104"
    fill="none"
    stroke-linecap="round"
  >
    <animateTransform
      attributeName="transform"
      type="rotate"
      dur="1.075268817204301s"
      repeatCount="indefinite"
      keyTimes="0;1"
      values="0 50 50;360 50 50"
    ></animateTransform>
  </circle>
  <circle
    cx="50"
    cy="50"
    r="19"
    stroke-width="8"
    stroke="#66a1ff"
    stroke-dasharray="29.845130209103033 29.845130209103033"
    stroke-dashoffset="29.845130209103033"
    fill="none"
    stroke-linecap="round"
  >
    <animateTransform
      attributeName="transform"
      type="rotate"
      dur="1.075268817204301s"
      repeatCount="indefinite"
      keyTimes="0;1"
      values="0 50 50;-360 50 50"
    ></animateTransform>
  </circle>
</svg>
